<div class="nav-items">
    <div class="nav-item" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <fa-icon [icon]="faClipboard"></fa-icon>
        <span>Dashboard</span>
    </div>
    <div class="nav-item" routerLink="/statistics">
        <fa-icon [icon]="faChartBar"></fa-icon>
        <span>Statistics</span>
    </div>

    <div class="nav-item cursor-pointer" routerLink="/style-list"   >
        <fa-icon [icon]="faTshirt"></fa-icon>
        <span>Style</span> 
    </div>

    <div class="nav-item"     > 
        <fa-icon [icon]="faMoneyBill"></fa-icon> 
        <span>Sales</span>
    </div>
 
    <div class="nav-item">
        <fa-icon [icon]="faAddressBook"></fa-icon>
        <span>Contact</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCircle"></fa-icon>
        <span>Help</span>
    </div>
</div>