<div class="container-fluid">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="main-container">
        <div class="side-nav">
            <app-side-bar></app-side-bar>
        </div>
        <div class="main">
            <!-- for spinner  -->
            <div class="spinnerconent" *ngIf="isloaded">
                <div class="spinnerclass">
                    <mat-progress-spinner color="blue" value="50" mode="indeterminate"></mat-progress-spinner>
                </div>
            </div>
            <!-- for spinner END  -->


            <div class="flex-auto m-7 body-color">
                <mat-card>
                    <div>
                        <!-- Form Start -->
                        <form class="form" [formGroup]="frmGroup" name="frmGroup" class="p-5">


                            <table class="mat-elevation-z8">
                                <thead>
                                    <tr>
                                        <th class="top-header">Designation</th>
                                       
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td>
                                            <mat-form-field class="w-full">
                                                <input formControlName="inventoryCode" appearance="outline" autocomplete="off" matInput required>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                    </div>
                </mat-card>





            </div>
        </div>
    </div>