<div class="container-fluid">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="main-container">
        <div class="side-nav">
            <app-side-bar></app-side-bar>
        </div>


        <div class="main">
            <!-- for spinner  -->
            <div class="spinnerconent" *ngIf="isloaded">
                <div class="spinnerclass">
                    <mat-progress-spinner color="blue" value="50" mode="indeterminate"></mat-progress-spinner>
                </div>
            </div>
            <!-- for spinner END  -->


          <div>
                <form class="form" [formGroup]="frmGroup" name="frmGroup">
                    <div class="d-flex">
                        <p style="font-weight: bold; font-size: 15px;
                        height: 50px; line-height: 50px;"> Style Code : &nbsp;&nbsp;</p>
                        <mat-form-field>
                            <input matInput formControlName="inventoryCode" (keyup)="applyFilter($event)"
                                placeholder="Search" #input>
                        </mat-form-field>
                        <P style="font-weight: bold; font-size: 15px;
                        height: 50px; line-height: 50px;">&nbsp;&nbsp;{{styleObj.inventoryName}}</P>

                    </div>



                </form>
            </div>  

            <br>
            <div>
                <form [formGroup]="searchFrmGroup" (ngSubmit)="searchInputValueByInventoryCode(searchFrmGroup)">
                    <input id="name" type="text" formControlName="searchInventoryCode" />
                    <button type="submit">Su bmit</button>
                  </form>
            </div>


              <!-- <div class="d-flex ">
                <div>
                    <form class="form" [formGroup]="frmGroup" name="frmGroup">
                        <table class="mat-elevation-z6">
                            <thead>
                                <tr>
                                    <th class="top-header">Designation</th>
                                    <th class="top-header">Designation</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <mat-form-field class="w-full">
                                            <input formControlName="inventoryCode" appearance="outline"
                                                autocomplete="off" matInput required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="w-full">
                                            <input formControlName="inventoryCode" appearance="outline"
                                                autocomplete="off" matInput required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </form>
                </div>
            </div>   -->
            <!-- ===================== -->


            <mdb-tabs>
                <mdb-tab>
                    <ng-template mdbTabTitle>
                        <span>
                            <i class="fas fa-tshirt"></i>
                            General
                        </span>
                    </ng-template>
                    Tab content 1
                </mdb-tab>
                <mdb-tab>
                    <ng-template mdbTabTitle>
                        <span>
                            <i class="fas fa-archive"></i>
                            BOM
                        </span>
                    </ng-template>
                    Tab content 2
                </mdb-tab>
                <mdb-tab>
                    <ng-template mdbTabTitle>
                        <span>
                            <i class="fas fa-truck"></i>
                            Oder Info
                        </span>
                    </ng-template>
                    Tab content 3
                </mdb-tab>
                <mdb-tab>
                    <ng-template mdbTabTitle>
                        <span>
                            <i class="fas fa-money-check-alt"></i>
                            Cost
                        </span>
                    </ng-template>
                    Tab content 4
                </mdb-tab>

            </mdb-tabs>






        </div>
    </div>