<div class="container-fluid">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-bar></app-side-bar>
    </div>
    <div class="main">
      <!-- for spinner  -->
      <div class="spinnerconent" *ngIf="isloaded">
        <div class="spinnerclass">
          <mat-progress-spinner color="accent" value="50" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
      <!-- for spinner END  -->
      
      <!-- Data table  -->
      <div>
        <mat-form-field>
          <mat-label>Filter Table</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>

        <div class="mat-elevation-z8" style="text-align: center; width: 100%;">
          <table mat-table [dataSource]="dataSource" matSort>



            <!-- Progress Column -->
            <ng-container matColumnDef="recId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> recId </th>
              <td mat-cell *matCellDef="let row"> {{row.recId}} </td>
            </ng-container>



            <!-- inventoryCode Column -->
            <ng-container matColumnDef="inventoryCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> inventoryCode </th>
              <td mat-cell *matCellDef="let row"> <span [routerLink]="['/style-view',row.inventoryCode]">
                  {{row.inventoryCode}}
                </span>
              </td>
            </ng-container>

            <!-- inventoryName Column -->
            <ng-container matColumnDef="inventoryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> inventoryName </th>
              <td mat-cell *matCellDef="let row"> {{row.inventoryName}} </td>
            </ng-container>



            <!-- seasonCode Column -->
            <ng-container matColumnDef="seasonCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> seasonCode </th>
              <td mat-cell *matCellDef="let row"> {{row.seasonCode}} </td>
            </ng-container>



            <!-- accessCode Column -->
            <ng-container matColumnDef="accessCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> accessCode </th>
              <td mat-cell *matCellDef="let row"> {{row?.woOrderDto?.accessCode}} </td>
            </ng-container>

            <!-- inventoryId Column -->
            <ng-container matColumnDef="inventoryId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> inventoryId </th>
              <td mat-cell *matCellDef="let row"> {{row?.woOrderDto?.inventoryId}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> quantity </th>
              <td mat-cell *matCellDef="let row"> {{row?.woOrderDto?.quantity}} </td>
            </ng-container>

            <!-- unitPrice Column -->
            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> unitPrice </th>
              <td mat-cell *matCellDef="let row"> {{row?.woOrderDto?.unitPrice}} </td>
            </ng-container>

            <!-- workOrderGroupCode Column -->
            <ng-container matColumnDef="workOrderGroupCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> workOrderGroupCode </th>
              <td mat-cell *matCellDef="let row"> {{row?.woOrderDto?.workOrderGroupCode}} </td>
            </ng-container>

            <!-- workOrderNo Column -->
            <ng-container matColumnDef="workOrderNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> workOrderNo </th>
              <td mat-cell *matCellDef="let row"> {{row?.woOrderDto?.workOrderNo}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
      <!-- end data table  -->









    </div>
  </div>
</div>