<div class="container-fluid">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-bar></app-side-bar>
    </div>
    <div class="main  w-100 p-3" >
      <!-- for spinner  -->
      <div class="spinnerconent" *ngIf="isloaded">
        <div class="spinnerclass">
          <mat-progress-spinner color="accent" value="50" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
      <!-- for spinner END  -->
      
      <!-- Data table  -->
      <div class="w-100 p-3">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>

        <div class="mat-elevation-z8" style="text-align: center; width: 100%; padding: 10px;">
          <table mat-table [dataSource]="dataSource" matSort>



            <!-- Progress Column -->
            <ng-container matColumnDef="recId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>SL</th>
              <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
            </ng-container>



            <!-- inventoryCode Column -->
            <ng-container matColumnDef="inventoryCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Style Code </th>
              <td mat-cell *matCellDef="let row"  > <span [routerLink]="['/style-view',row.inventoryCode]">
                  {{row.inventoryCode}}
                </span>
              </td>
            </ng-container>

            <!-- inventoryName Column -->
            <ng-container matColumnDef="inventoryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Style Name </th>
              <td mat-cell *matCellDef="let row"> {{row.inventoryName}} </td>
            </ng-container>



            <!-- seasonCode Column -->
            <ng-container matColumnDef="departmentCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Code</th>
              <td mat-cell *matCellDef="let row"> {{row?.imItemDepartmentDto?.departmentCode}} </td>
            </ng-container>



            <!-- accessCode Column -->
            <ng-container matColumnDef="departmentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Department Name</th>
              <td mat-cell *matCellDef="let row"> {{row?.imItemDepartmentDto?.departmentName}} </td>
            </ng-container>

            <!-- inventoryId Column -->
            <ng-container matColumnDef="seasonCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Season Code </th>
              <td mat-cell *matCellDef="let row"> {{row?.seasonCode}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="workOrderGroupCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
              <td mat-cell *matCellDef="let row"> {{row?.workOrderDto?.workOrderGroupCode}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="deliveryDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Place Date </th>
              <td mat-cell *matCellDef="let row"> {{row?.workOrderDto?.deliveryDate | date: 'd-MMM-yyyy' }} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="accessCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Access Code </th>
              <td mat-cell *matCellDef="let row"> {{row?.accessCode}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="markName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
              <td mat-cell *matCellDef="let row"> {{row?.imMarkDto?.markName}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="explanation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name </th>
              <td mat-cell *matCellDef="let row"> {{row?.imMarkDto?.explanation}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
              <td mat-cell *matCellDef="let row"> {{row?.workOrderDto?.quantity}} </td>
            </ng-container>

             
            <!-- workOrderNo Column -->
            <ng-container matColumnDef="categoryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
              <td mat-cell *matCellDef="let row"> {{row?.imCategoryDto?.categoryName}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
      <!-- end data table  -->









    </div>
  </div>
</div>