<div class="widget-container"  >
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faTshirt"></fa-icon>
        
      </div>
      <div class="value">
         <!-- for spinner  -->
   
      <!-- for spinner END  --> 

        <div class="top">
          <div class="spinner-border" *ngIf="isloaded" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          {{totalStyleListCount}}</div>
        <div class="bottom">Total Style List</div>
      </div>
    </div>


    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        
      </div>
      <div class="value">
        <div class="top">
          <div class="spinner-border" *ngIf="isloaded" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          {{getAllOrderListCount}}</div>
        <div class="bottom">Total Order List</div>
      </div>
    </div>


    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBoxes"></fa-icon>
      </div>
      <div class="value">
        <div class="top">45784</div>
        <div class="bottom">Products Sold</div>
      </div>
    </div>


    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">346928</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
    
  </div>